* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: #000000;   /* PURE BLACK */
  color: #ffffff;        /* WHITE TEXT */
  font-family: Arial, Helvetica, sans-serif;
}

#root {
  min-height: 100vh;
}
